#header h1 {
  font-size: 35px;
}

#header h1 a {
  text-decoration: none;
}

#footer {
  font-weight: bold;
}

.notice {
  color: green;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

ul.articles {
  list-style-type: none;
}

ul.articles > li {
  margin-left: 0;
}

input[type="text"], textarea {
  width: 99%;
}

textarea {
  height: 300px;
}

textarea.article_body {
  height: 450px;
}

.pagination {
  margin: 0.5em 0;
  color: #8d8d8d;
  letter-spacing: -0.05em;
}

.pagination a {
  text-decoration: none;
  border: 1px solid #CCCCCC;
  padding: 3px 6px;
  margin: 0 2px;
}
