site_name = Chia s\u1ebb kinh nghi\u1ec7m v\u1ec1 CNTT

# Please register an app at Facebook
facebook.app_id     = <Your Facebook App ID>
facebook.app_secret = <Your Facebook App Secret>

mongodb.host = localhost
mongodb.port = 27017
mongodb.name = tivua
