#header h1 {
  font-size: 35px;
}

#sidebar {
  background-color: #F2F2F2;
  padding: 1em;
}

#footer {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

a {
  color: #3B5998;
  text-decoration: none;
}

label {
  font-weight: bold;
}

.notice {
  color: green;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

ul.articles, ul.comments {
  list-style-type: none;
}

ul.articles > li, ul.comments > li {
  margin-left: 0;
}

.article_metadata, .comment_metadata {
  color: gray;
  margin-bottom: 1em;
}

input[type="text"], textarea {
  width: 98%;
}

textarea {
  height: 300px;
}

textarea.article_body {
  height: 450px;
}

.pagination {
  margin: 0.5em 0;
  color: #8d8d8d;
  letter-spacing: -0.05em;
}

.pagination a {
  text-decoration: none;
  border: 1px solid #CCCCCC;
  padding: 3px 6px;
  margin: 0 2px;
}

pre, code {
  background-color: #DDE0BE;
  overflow: auto;
  // Hack to force word-wrap for <pre>
  // Mozilla
  white-space: -moz-pre-wrap;
  // Opera 4-6
  white-space: -pre-wrap;
  // Opera 7
  white-space: -o-pre-wrap;
  // CSS3
  white-space: pre-wrap;
  // IE 5.5+
  word-wrap: break-word;
}

code {
  font-size: smaller;
}

.comment {
  background-color: #EDEFF4;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

#chatOutput {
  border: 1px solid;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
